extends layout1
block page-content
  body.tile5
    div.wrapper-1
      div.main.main-center
        include partials/date
        div.banner
          img(src='/images/contact/Contact%20banner%20Kailee.jpg', width='1000px', height='400px')

        div
          p Kailee McGee
          p(style='font-style:italic') Professional Director/Producer/Writer
          p(style='font-style:italic') as well as Retired 1st AD and Professionally Trained 2nd AC

        div
          img(src='/images/contact/mailme1.gif')
        div
          img(src='/images/contact/blue_cool_links1.gif')

        div.contact
          div Cell phone: [hidden]
          div Email address: [hidden]
          div Email address:&nbsp;
            span.fake-link kittypawsxoxo@gmail.com
          div Website:&nbsp;
            a(href='/') kaileemcgee.com
          div Instagram Account:&nbsp;
            a(href='https://instagram.com/kittypawsxoxo') instagram.com/kittypawsxoxo
          div Twitter Account:&nbsp;
            a(href='https://twitter.com/kittypawsxoxo') twitter.com/kittypawsxoxo
          div Facebook Account (personal):&nbsp;
            a(href='https://facebook.com/javelina') facebook.com/javelina
          div Professional Linkedin Account:&nbsp;
            a(href='https://www.linkedin.com/in/westenborg') https://www.linkedin.com/in/westenborg
          div Youtube Account:&nbsp;
            a(href='https://youtube.com/kaileechief') youtube.com/kaileechief

        include partials/site-map
        include partials/footer