doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name="description", content='Kailee McGee is a writer, filmmaker, and post-internet artist.')
    title Kailee McGee is Thinking of You!
  body
    div Error