extends layout1
block page-content
  body.tile2
    div.wrapper-1
      div.main.main-center
        include partials/date

        div(style='margin-bottom: 20px')
          img(src='/images/filmandvideo/films%20and%20videos%20banner.jpg', width='1000px', height='400px')

        img(src='/images/filmandvideo/b-stuff.gif')

        div.video-section-header
          h2
            a.serious(href='https://www.kaileemcgee.work', style='color:white') kaileemcgee.work

        include partials/site-map
        include partials/footer