doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content='Kailee McGee is a writer, filmmaker, and post-internet artist.')
    title Kailee McGee is Thinking of You!
    link(rel='stylesheet', href='/static/build.css')
    block added-stylesheets
    link(rel='icon', href='/images/favicon.ico')
    script(src='/static/vendor.js')
    script(src='/static/scripts.js')

  block page-content
