extends layout1
block page-content
  body.tile1
    div.wrapper-1
      div.main.main-center
        include partials/date

        div.post-item#living-to-post
          each image in livingToPost
            - var thumbnail = image.thumb || image.src
            a(href='/images/livingtopost/' + image.src)
              img(src='/images/livingtopost/thumbnails/' + thumbnail)

        include partials/site-map
        include partials/badges
        include partials/footer

    script.
      $('#living-to-post').justifiedGallery({
        waitThumbnailsLoad: true,
        margins: 7,
        rowHeight: 200,
        randomize: true,
        imagesAnimationDuration: 500
      });