extends layout1
block page-content
  body.tile7
    div.wrapper-1
      div.main.main-center
        include partials/date

        div.banner(style='margin-bottom:50px')
          img(src='/images/promoslashindustry/banner.jpg')

        -
          var posts = [
          { src: "kailee mcgee at work LA.jpg", caption: "kailee mcgee at work LA" },
          { src: "kailee mcgee at work Laguna beach.jpg", caption: "kailee mcgee at work Laguna beach" },
          { src: "kailee mcgee at work NY also.jpg", caption: "kailee mcgee at work NY also" },
          { src: "kailee mcgee black and white on set.jpg", caption: "kailee mcgee black and white on set" },
          { src: "reality me.png", caption: "reality me" },
          { src: "kailee mcgee portrait 2014.png", caption: "kailee mcgee portrait 2014" },
          { src: "Kailee McGee sentimental.jpg", caption: "Kailee McGee sentimental" },
          { src: "kailee mcgee - nighttime confusion.png", caption: "kailee mcgee - nighttime confusion" },
          { src: "kailee mcgee at work LA.jpg", caption: "kailee mcgee casual" },
          { src: "kailee mcgee slom set.jpg", caption: "kailee mcgee slom set" }
          ];

        each post in posts
          div.post-item
            img(src='/images/promoslashindustry/' + post.src, width='500px')
            span.caption= post.caption

        include partials/site-map
        include partials/footer