doctype html
html(lang='en')
  include ../includes/head
  body
    div.main.main-center(style='background:none')
      div.banner
        img(src='/images/enter/enter%20banner.gif')
      div
        img(src='/images/enter/bluelite.gif', width='40%')
      div(style='margin-top:20px')
        a(href='/home.html')
          img(src='/images/enter/enter.gif')