doctype html
html(lang='en')
  include ../includes/head
  body.tile1
    div.wrapper-1
      div.main.main-center
        include ../includes/date

        div.banner(style='margin-bottom: 100p')
          img(src='/images/FAQs/kailee%20FAQ%20banner.jpg', width='1000px', height='300px')

        img(src='/images/FAQs/Kailee%20McGee.gif')

        div.faq-section
          each item in data
            p.question !{item.q}
            p.answer !{item.a}

        include ../includes/site-map.html
        include ../includes/footer