doctype html
html(lang='en')
  include ../includes/head
  body.tile2
    div.wrapper-1
      div.main.main-center
        include ../includes/date

        div(style='margin-bottom: 20px')
          img(src='/images/filmandvideo/films%20and%20videos%20banner.jpg', width='1000px', height='400px')

        img(src='/images/filmandvideo/b-stuff.gif')

        div#video-listing-section
          each section in data
            div.video-section-header
              h2= section.sectionHeader
            div.video-section-list
              ul
                each link in section.links
                  li
                    -
                      var linkDest = '/watch/' + link.id;
                      if (!link.embed && !!link.lives) linkDest = link.lives;
                    a(href=linkDest) !{link.text}

        include ../includes/site-map.html

        include ../includes/footer