doctype html
html(lang='en')
  head
    include ../includes/head
    link(rel='stylesheet', href='/css/justifiedGallery.min.css')
  body.tile1
    div.wrapper-1
      div.main.main-center
        include ../includes/date

        div.post-item#living-to-post
          each image in livingToPost
            - var thumbnail = image.thumb || image.src
            a(href='/images/livingtopost/' + image.src)
              img(src='/images/livingtopost/thumbnails/' + thumbnail)

        include ../includes/site-map.html
        include ../includes/badges
        include ../includes/footer

    script(src='/js/jquery.min.js')
    script(src='/js/jquery.justifiedGallery.min.js')
    script.
      $('#living-to-post').justifiedGallery({
        waitThumbnailsLoad: true,
        margins: 7,
        rowHeight: 200,
        randomize: true,
        imagesAnimationDuration: 500
      });