doctype html
html(lang='en')
  head
    include ../includes/head
  body.tile1
    div.wrapper-1
      div.main.main-center
        include ../includes/date

        h3.flashy Music

        div.post-item Ms McGee is also a talented musician and gifted songstress. She is the percussionist of the popular east Los Angeles band, The Christian Stoners.
          div
            a.flashy(href='http://www.thechristianstoners.com') http://www.thechristianstoners.com

        div.post-item
          img(src='/images/music/IMG_9450editv.1s.jpg', height='400px')

        div.post-item
          img.rotate-90(src='/images/music/kailee%20mcgee%20weston%20westenborg%20TCS%20smaller.jpg', height='400px')

        div.post-item
          img(src='/images/music/TCS%20kailee%20mcgee.jpg', height='400px')

        div.post-item
          img(src='/images/music/the%20christian%20stoners%20kailee%20mcgee.jpg', height='400px')

        div.post-item
          img(src='/images/music/The_Christian_Stoners_FB_banner.jpg', height='300px')

        include ../includes/site-map.html

        include ../includes/footer