doctype html
html(lang='en')
  include ../includes/head
  body.tile1
    div.wrapper-1
      div.main.main-center
        include ../includes/date
      div.banner
        img(src='/images/projects/Project%20Banner.gif', width='1000px', height='400px')
      div.post-item
        h1 Coming Soon

      include ../includes/site-map.html
      include ../includes/badges
      include ../includes/footer