doctype html
html(lang='en')
  head
    include ../includes/head
    link(rel='stylesheet', href='/css/justifiedGallery.min.css')
  body.tile1
    div.wrapper-1
      div.main.main-center
        div.banner
          img(src='/images/projects/Project%20Banner.gif', width='1000px', height='400px')

        ul#projects-links-list
          img(src='/images/projects/boy_drinks.gif')
          li
            a(href='/livingtopost.html') Living To Post

          li
            a(href='/hashtagopenbook') # <img src='/images/buttons/openbook.png' height='35px'/>

          li
            a(href='http://sunnynookdrive.com') Sunnynook Drive

        include ../includes/site-map.html
        include ../includes/badges
        include ../includes/footer