doctype html
html(lang='en')
  head
    include ../includes/head
  body.tile1
    div.wrapper-1
      div.main.main-center
        include ../includes/date

        div.banner(style='margin-bottom:50px')
          img(src='/images/promoslashindustry/banner.jpg')

        div.post-item
          img(src='/images/promoslashindustry/Portraits/kailee mcgee portrait 2014.png', width='500px')
          span.caption kailee mcgee portrait 2014
        div.post-item
          img(src='/images/promoslashindustry/Portraits/Kailee McGee sentimental.jpg', width='500px')
          span.caption Kailee McGee sentimental
        div.post-item
          img(src='/images/promoslashindustry/Portraits/kailee mcgee - nighttime confusion.png', width='500px')
          span.caption kailee mcgee - nighttime confusion
        div.post-item
          img(src='/images/promoslashindustry/Portraits/kailee mcgee casual.png', width='500px')
          span.caption kailee mcgee casual

        include  ../includes/site-map.html
        include ../includes/footer