doctype html
html(lang='en')
  head
    include ../includes/head
  body.tile6
    div.wrapper-1
      div.main.main-center
        include ../includes/date

        h1.marquee.flashy Testimonials

        div.post-item(style='margin-bottom:10px')
          p These are official, touching, and highly motivating testimonials that are proof of the excellent work Ms. McGee produces.
          p A recurring theme in each testimonial is, "...great experience..." and "...display mastery...".

        div.testimonials
          iframe(width="280", height="158", src="https://www.youtube.com/embed/RNLQqe76xQk?rel=0", frameborder="0", allowfullscreen)
          iframe(width="280", height="158", src="https://www.youtube.com/embed/ycl6rPR-yLk?rel=0", frameborder="0", allowfullscreen)
          iframe(width="280", height="158", src="https://www.youtube.com/embed/vKZf2_ZBrwg?rel=0", frameborder="0", allowfullscreen)
          iframe(width="280", height="158", src="https://www.youtube.com/embed/JlJVOSi-awg?rel=0", frameborder="0", allowfullscreen)
          iframe(width="280", height="158", src="https://www.youtube.com/embed/jOGTSjki70M?rel=0", frameborder="0", allowfullscreen)
          iframe(width="280", height="158", src="https://www.youtube.com/embed/PV9_Gu3xtgo?rel=0", frameborder="0", allowfullscreen)
          iframe(width="280", height="158", src="https://www.youtube.com/embed/1wiNFxZgyXA?rel=0", frameborder="0", allowfullscreen)
          iframe(width="280", height="158", src="https://www.youtube.com/embed/9k69Yii7s0w?rel=0", frameborder="0", allowfullscreen)

        include ../includes/site-map.html
        include ../includes/footer