doctype html
html(lang='en')
  head
    include ../includes/head
  body.other-stars
    div
      div#watch-here(class= embedCode.length > 1 ? 'multiple' : '')
        each emb in embedCode
          !{emb}