doctype html
html(lang='en')
  include ../includes/head
  body.tile3.pencil-cursor
    div.wrapper-1
      div.main.main-center
        include ../includes/date
        h3.flashy Coming Soon
        img(src='/images/workshops%20&%20seminars/Workshops%20&%20Seminars.jpg')
        include ../includes/site-map.html
        include ../includes/footer
