doctype html
html(lang='en')
  head
    include ../includes/head
  body.tile3.pencil-cursor
    div.wrapper-1
      div.main.main-center
        include ../includes/date
        div
          img(src='/images/workshops%20&%20seminars/candle.gif')
          h3.flashy(style='display:inline; margin:0 1em;') Coming Soon
          img(src='/images/workshops%20&%20seminars/candle.gif')
        div
          img(src='/images/workshops%20&%20seminars/Workshops%20&%20Seminars.jpg')
        include ../includes/site-map.html
        include ../includes/footer
