div.site-map-container
  img(src="/images/home/colorlin.gif")
  p
    a(href="/index.html")
      img(src="/images/home/folder.gif")
      span home
      span(style="color:black") xxxxxxxx
    a(href="/about.html.html")
      img(src="/images/home/folder.gif")
      span about
      span(style="color:black") xxxxx
    a(href="/faq.html")
      img(src="/images/home/folder.gif")
      span faqs
      span(style="color:black") x

  p
    a(href="/workshopsandseminars.html")
      img(src="/images/home/folder.gif")
      span workshops &amp; seminars
      span(style="color:black") xxx
    a(href="/music.html")
      img(src="/images/home/folder.gif")
      span music
      span(style="color:black") xxxxx
    a(href="/filmandvideo.html")
      img(src="/images/home/folder.gif")
      span film &amp; video
      span(style="color:black") xxxxx

  p
    a(href="/photography.html")
      img(src="/images/home/folder.gif")
      span photography
      span(style="color:black") xxxxx
    a(href="/projects.html")
      img(src="/images/home/folder.gif")
      span projects
      span(style="color:black") xxxxx
    a(href="/testimonials.html")
      img(src="/images/home/folder.gif")
      span testimonials
      span(style="color:black") xxxxx

  p
    a(href="/contact.html")
      img(src="/images/home/folder.gif")
      span contact
