div.badges.add-space
  a(href='http://www.businessinsider.com/most-american-movies-2013-7')
    img(src='../images/buttons/made-in-americaflag.gif', width='200px')
  img(src='../images/buttons/california.jpeg', width='200px')
  a(href='http://www.aspca.org')
    img(src='../images/buttons/CrueltyFreePetaLogo.jpg', width='200px')
  img(src='/images/buttons/youth-digital-filmmaker.png', width='170px')
  a(href='http://www.nyu.edu')
    img(src='/images/buttons/Nyu Alumni Stamp.jpg', width='400px')
  img(src='../images/buttons/LBHS alumni button.jpeg', width='300px')
  img(src='../images/buttons/credit card stamp.gif', width='300px')