head
  meta(charset='UTF-8')
  meta(name="description", content='Kailee McGee is a writer, filmmaker, and post-internet artist.')
  title Kailee McGee is Thinking of You! (949) 338-4176
  link(rel='stylesheet', href='/css/styles.css')
  link(rel='icon', href='/images/favicon.ico')
